<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>$NFLX S5 High Prices</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand text-uppercase" href="/">Bojack Homepage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seasons
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/Season1">Season 1</a>
              <a class="dropdown-item" href="/Season2">Season 2</a>
              <a class="dropdown-item" href="/Season3">Season 3</a>
              <a class="dropdown-item" href="/Season4">Season 4</a>
              <a class="dropdown-item" href="/Season5">Season 5</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stock Information
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/S1">Season 1</a>
              <a class="dropdown-item" href="/S2">Season 2</a>
              <a class="dropdown-item" href="/S3">Season 3</a>
              <a class="dropdown-item" href="/S4">Season 4</a>
              <a class="dropdown-item" href="/S5">Season 5</a>
              <a class="dropdown-item" href="/stock">Season 1-5</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ratings">Ratings</a>
          </li>
        </ul>
    </div>
  </nav>
  <div class="container text-center">
    <h1 class="jumbotron">$NFLX High Price Before and After Season 5 Release</h1>
  <a class="col-md-6 p-5 text-decoration-none" href="/Season5">
    <img class="img-fluid" src="/static/images/S5_Release.png" alt="$NFLX High Price Before and After Season 5 Release">
</a>
<h4>Please click on the plot to see origin data.</h4>
  </div>
</body>

</html>